.wd-position-magnifying-glass .form-control {
  padding-left: 38px;
}

.wd-position-magnifying-glass .form-control-feedback {
  position: absolute;
  display: block;
  width: 38px;
  line-height: 38px;
  text-align: center;
}

.wd-position-gear  {
  position: absolute;
  right: 0%;
  height: 38px;
  text-align: center;
  padding-top: 2px;
}

.form-control.override-bs {
  border-radius: 20px;
  width: 92%;
}

.wd-bottom-left-image {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.wd-white-space-nowrap {
  white-space: nowrap;
}

.wd-max-height {
  max-height: 375px;
}

.btn.override-bs {
  top: 20%;
  bottom: 20%;
  margin: 0 auto;
}

.wd-increase-z-index {
  z-index: 10;
}
