.wd-position-magnifying-glass .form-control {
  padding-left: 2.375rem;
}

.wd-position-magnifying-glass .form-control-feedback {
  position: absolute;
  display: block;
  width: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
}

.wd-position-gear  {
  position: absolute;
  right: 0%;
  height: 2.375rem;
  text-align: center;
  padding-top: 2px;
}

.form-control.override-bs {
  border-radius: 20px;
  width: 93%;
}

.wd-bottom-left-image {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.wd-white-space-nowrap {
  white-space: nowrap;
}

.wd-max-height {
  max-height: 375px;
}
