

.wd-border {
  border: solid rgb(47, 51, 54) 1px;
}

.wd-title {
  color: white;
  font-size: 20px;
}

.wd-gray-text {
  font-size: 13px;
  color: lightgray;
}

.wd-offset {
  padding-left: 16px;
  padding-top: 12px;
}

.wd-handle-border-dist {
  padding-bottom: 12px;
}

.wd-profile-pic {
  position: relative;
  left: 16px;
  top: 12px;
  border-radius: 60px;
}

.wd-author-text {
  font-size: 15px;
  color: white;
}

.wd-handle-text {
  font-size: 15px;
  color: lightgray;
}

.wd-display-inline-block {
  display: inline;
}

.wd-handle-pos {
  top: 12px;
  left: 16px;
}

.wd-full-height {
  vertical-align: top;
}

.wd-line-up {
  position:relative;
  top: -5px
}

.wd-padding {
  padding-left: 50px;
}

.wd-left-page {
  height: 100%;
  float: left;
  width: 48px;
}

.wd-right-page {
  position: relative;
  top: 12px;
  margin-left: 76px;
}

.wd-clear-both {
  clear: both;
}

.wd-max-width {
  max-width: 506px;
}

.wd-text-max-width {
  max-width: 504px;
}

.wd-pad-bottom-border {
  padding-bottom: 30px;
}

.wd-main-post {
  margin-right: 16px;
  margin-bottom: 12px;
  color: white;
  font-size: 15px;
}

.wd-round-top {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.wd-12px-down {
  position: relative;
  top: 12px;
}

.wd-f-title {
  color: white;
  font-size: 15px;
}

.wd-f-text {
  font-size: 15px;
  color: darkgray;
}

.wd-12px-padding {
  padding: 12px;
}

.wd-round-bottom {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.wd-remove-top-margin {
  margin-top: 0;
}

.wd-light-gray {
  color: lightgray;
}

.wd-12px-left {
  position: relative;
  margin-left: 12px;
}

.wd-remove-text-decoration {
  text-decoration: none;
}

.wd-quarter-width {
  width: 25%;
}

.wd-color-red {
  color: red;
}

.wd-remove-list-style-type {
  list-style-type: none;
}

.maring-right {
  margin-right: 100px;
}

.wd-width {
  max-width: 600px;
}

.wd-pad-bottom-img-text {
  padding-bottom: 12px;
}